<% if static_content.foreign_link.present? %>
  <li class='not'><%= link_to static_content.title, static_content.foreign_link, {:target => "_blank"} %></li>
<% else %>
  <% static_content_uri = Rails.application.routes.named_routes[:spree].path.spec.to_s == '/' ? static_content.slug : Rails.application.routes.named_routes[:spree].path.spec.to_s + static_content.slug %>
  <li class=<%=(request.fullpath.gsub('//','/') == static_content_uri) ? 'current' : 'not'%>><%= link_to static_content.title, static_content_uri  %></li>
<% end %>

