<% if page.foreign_link.present? %>
  <li>
    <%= link_to page.title, page.foreign_link, {:target => "_blank"} %>
  </li>
<% else %>
  <li class="<%= page_li_class(page) %>">
    <%= link_to page.title, page_uri(page) %>
  </li>
<% end %>